<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bitchain.Properties.Settings.db_BitchainConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db_Bitchain;User ID=sa;Password=admin1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>